html{
    font-family: 'Kiwi Maru', serif;
    background-image: linear-gradient(to right, #227c9d 0%, #227c9d 25%, #17c3b2 25%,#17c3b2  50%,#ffcb77 50%,#ffcb77 75%,#fe6d73 75%,#fe6d73 100%);
}

.logo img{
    width: 4%;
    height: auto;
    float: right;
}
.topnav {
    overflow: hidden;
<<<<<<< HEAD

    background-color: white;
    height: 70px;
    border-radius: 10px;

=======
    background-color: white;
    height: 70px;
    border-radius: 10px;
>>>>>>> b35e6ef8aeeb3fae53fe6187d92a8d3826acfc06
  }

  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px 115px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .homecontext h1{
      text-align: center;

  }
