html{
  font-family: 'Kiwi Maru', serif;
  
}


.player4startcontext {
  background-color: #5d6c9b; 
  text-align:center; 
  }
  
  .withoutnav {
    height: 40px;
    width: 100%;
    overflow: auto;
    background-color: #5d6c9b;
    border-radius: 10px;
  }
  
  .menu-home a:active{
  color: black;
  }
  
  .topnav {
    height: 70px;
    width: 100%;
    overflow: auto;
    background-color: whitesmoke;
    border-radius: 10px;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    width: 25%;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-right: 0%;
    padding-left: 0%;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .homecontext h1{
      text-align: center;
  }
  
  .menu-home img{
    float: right;
    padding-top: 15px;
    padding-right: 10px;
    width: 50px;
    height: 50px;
  
  }
  
  
  .menu-home h1{
    float: right;
    font-family: 'Recursive', sans-serif;
    font-size: 40px;
    color: black;
  
  }

.menu-esc img{
  position: fixed;
      right:480px;
      top:10px;
  padding-top: 15px;
  padding-right: 10px;
  width: 50px;
  height: 50px;

}

  .menu-esc h1{
    position: fixed;
      right:0;
      top:10px;
    font-family: 'Recursive', sans-serif;
    font-size: 40px;
    color: black;

  }
  .menu-esc h2{
    position: fixed;
      left:0;
      top:10px;
    font-family: 'Recursive', sans-serif;
    font-size: 40px;
    padding-left: 10px;

  }
  footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
  }


    #esc-wel-text {
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 30px; 
      margin: auto;
      margin-top: 130px;
      width: 50%;
      height: 700px;
      padding: 20px; 
      position: static;
      font-weight: bold;
      font-size: 30px;
    }

    #desc{
      width: 500px;
      height: 270px;
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }

    #csubmitbutton {
      float: right;
      margin-top: 12%;
      padding: 15px;
      margin-right:1%;
      border-radius: 10px;
      border-style: hidden;
      font-size: 25px;
      font-family: 'Recursive' sans-serif;
    
    
    }

.timer {
font-size:20px;
text-align:center;
}

#escape {
  float:left; 
}


#whitebox1 { 
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px; 
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: 500px;
  padding: 20px; 
  text-align: center; 
  float: center; 

}

#clue4 {
  border-radius: 10px; 
  width: 400px; 
  height: 400px; 
  float:right; 
  position: absolute; 
  top: 250px;
  right: 70px; 
}

#centering {
  text-align: center; 
}

#message1 {
  font-family: 'Courier New', Courier, monospace;
}

#break {
  height: 20px
}

footer {
  position:fixed; 
  bottom: 0%;
  left:0%; 
  text-align: right; 
  height: 50px; 
}

#word {
  text-align: left; 
  position: absolute; 
  top: 230px;
  left: 100px; 
}

h1 {
  font-size: 140px; 
}

#numbers {
  font-size: 100px; 
}

#esc-task2 {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px; 
  margin: auto;
  margin-top: 130px;
  width: 50%;
  height: 750px;
  padding: 20px; 
  position: static;
  font-weight: bold;
  font-size: 30px;
}

#esc-task3 {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px; 
  margin: auto;
  margin-top: 130px;
  width: 80%;
  height: 700px;
  padding: 20px; 
  position: static;
  border: #fe6d73;
  border-width: 20px;
  border-style: double;
}

.task3images {
  padding-top: 50px;
}

.task3images img {
 height:250px;
}


#puzzle3clue1 {
  border-color: #227c9d;
  border-width: 8px;
  border-style: solid;

} 

#puzzle3clue2 {
  border-color: #17c3b2;
  border-width: 8px;
  border-style: solid;


} 
#puzzle3clue3 {
  border-color: #ffcb77;
  border-width: 8px;
  border-style: solid;

} 

#puzzle3clue4 {
  border-color: #fe6d73;
  border-width: 8px;
  border-style: solid;
  width: 200px;
  text-align: center;
} 

.hintbtn {
  text-align: left;
  margin-bottom: 20%;
}

#hint {
  position: relative;
  float: right;
  margin-right: 72%;
  padding-bottom: 100px;
}

#esc-task4 {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px; 
  margin: auto;
  margin-top: 130px;
  width: 50%;
  height: 400px;
  padding: 20px; 
  position: static;
  font-weight: bold;
  font-size: 30px;
}

#starttimer {
  padding: 10px;
  margin-bottom: 30px;
}